* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box; }

body {
  background-color: #E8F9FD;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.header div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 180px;
  max-width: auto; }
  .header div img {
    min-width: 75px;
    min-height: 75px;
    max-width: 8vw;
    max-height: 8vw;
    object-fit: contain;
    border-radius: 50%;
    transition: 0.3s; }
  .header div img:hover {
    transform: scale(1.1); }
  .header div h4 {
    font-size: 3em; }

.header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: #79DAE8; }
  .header nav ul li {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    transition: .2s; }
  .header nav ul li:hover {
    transform: scale(1.3);
    text-decoration: underline;
    text-decoration-thickness: 10%; }
  .header nav ul a {
    text-decoration: none;
    color: black; }

/*comienzo responsive*/
@media screen and (max-width: 800px) {
  .header {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: "logoYNombre"  "navBar"; }
  .logoYNombre {
    grid-area: logoYNombre;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 180px;
    max-width: auto; }
  .header_nombre {
    font-size: 3em; }
  .logoEmpresa {
    min-width: 75px;
    min-height: 75px;
    max-width: 8vw;
    max-height: 8vw;
    object-fit: contain;
    border-radius: 50%; }
  .navBar {
    background-color: #79DAE8;
    grid-area: navBar;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .navBar li, .navBar li a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: auto; }
  .footer {
    display: flex;
    justify-content: flex-end;
    border-top: 5px solid black;
    margin-top: auto;
    margin-bottom: none;
    width: 100%;
    background-color: #0AA1DD;
    text-decoration: none;
    align-self: flex-end; }
  .imagenRedSocial {
    max-height: 50px;
    padding: 1em; }
  footer div a {
    text-decoration: none; } }

footer {
  display: flex;
  justify-content: flex-end;
  border-top: 5px solid black;
  margin-top: auto;
  margin-bottom: none;
  width: 100%;
  background-color: #0AA1DD;
  align-self: flex-end; }
  footer div a {
    text-decoration: none; }
    footer div a img {
      max-width: 100px;
      min-width: 75px;
      max-height: 100px;
      min-height: 100px;
      padding: 1em; }

#mainCarousel {
  max-width: 480px;
  min-width: 25vw;
  margin: auto; }

.mainIndex .titulo {
  font-size: 50px;
  max-width: 90vw;
  margin: auto; }

.mainIndex .parrafo {
  font-size: 24px;
  max-width: 90vw;
  margin: auto; }

#contacto div {
  align-items: center; }
  #contacto div .imagenContacto {
    max-height: 60px;
    max-width: 60px; }
  #contacto div a {
    text-decoration: none; }
  #contacto div .contacto {
    color: black; }

#galeria {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row; }
