#contacto{
    div{
        align-items: center;
        .imagenContacto{
        max-height: 60px;
        max-width: 60px;    
        }
        a{
        text-decoration: none;
        }
        .contacto{
            
            color: black;
        }
    }
    
}