#mainCarousel{
    max-width: 480px;
    min-width: 25vw;
    margin: auto;
}
.mainIndex{
    .titulo{
        font-size: 50px;
        max-width: 90vw;
        margin: auto;
    }
    .parrafo{
        font-size: 24px;
        max-width: 90vw;
        margin: auto;
    }
    
}