*{margin: 0;}

body{
    background-color: #E8F9FD;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }

/* Header y footer para todos comienza */

.header{
    
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "logoYNombre" 
    "navBar";
}

.logoYNombre{
    grid-area: logoYNombre;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 180px;
    max-width: auto;
}

.header_nombre{
    font-size: 3em;
}

.logoEmpresa{
    min-width: 75px;
    min-height: 75px;
    max-width: 8vw;
    max-height: 8vw;
    object-fit: contain;
    border-radius: 50%;
    transition: 0.3s;
}

.logoEmpresa:hover{
    transform: scale(1.1);
}

.navBar{
    background-color: #79DAE8;
    grid-area: navBar;
    display: flex;
    justify-content: space-around;
}




.navBar li, .navBar li a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.boton{
    transition: transform .2s
}

.boton:hover{
    transform: scale(1.3);
    text-decoration: underline;
    text-decoration-thickness: 10%;
}

/*contacto*/
.imagenContacto{
    max-width: 30px;
    max-height: 30px;
}

.contacto{
    font-size: 20px;
}
/*fin contacto*/

.footer{
    display: flex;
    justify-content: flex-end;
    border-top: 5px solid black;
    margin-top: auto;
    margin-bottom: none;
    width: 100%;
    background-color: #0AA1DD;
    text-decoration: none;
    align-self: flex-end;
}

.imagenRedSocial{
    max-width: 100px;
    min-width: 75px;
    max-height: 100px;
    min-height: 100px;
    padding: 1em;
      
}
footer div a {
    text-decoration: none;
}








/* fin header y footer */

/*index*/

#mainCarousel{max-width: 480px;
    min-width: 25vw;
    margin: auto;
    }


.titulo{
    font-size: 50px;
    max-width: 90vw;
    margin: auto;
}

.parrafo{
    font-size: 24px;
    max-width: 90vw;
    margin: auto;
}

#galeria{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}




/*comienzo responsive*/

@media screen and (max-width: 480px){

.header{
    
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "logoYNombre" 
    "navBar";
}

.logoYNombre{
    grid-area: logoYNombre;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 180px;
    max-width: auto;
}

.header_nombre{
    font-size: 3em;
}

.logoEmpresa{
    min-width: 75px;
    min-height: 75px;
    max-width: 8vw;
    max-height: 8vw;
    object-fit: contain;
    border-radius: 50%
}

.navBar{
    background-color: #79DAE8;
    grid-area: navBar;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}




.navBar li, .navBar li a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: auto;
}





.footer{
    display: flex;
    justify-content: flex-end;
    border-top: 5px solid black;
    margin-top: auto;
    margin-bottom: none;
    width: 100%;
    background-color: #0AA1DD;
    text-decoration: none;
    align-self: flex-end;
}

.imagenRedSocial{
    max-height: 50px;
    padding: 1em;    
}
footer div a {
    text-decoration: none;
}
}
